.all-faqs {
  .queries {
    display: grid;
    gap: 20px;
    padding: 10px;
    .query {
      //   padding: 20px;
      border-radius: 8px;
      background: #fff;
      display: grid;
      .query-title {
        font-weight: 600;
        background: #e6e8ea;
        padding: 20px;
        border-radius: 8px 8px 0 0;
      }
      .query-desc {
        padding: 20px;
        color: #858997;
      }
    }
  }
}

@media (min-width: 500px) {
  .all-faqs {
    .queries {
      max-width: 1200px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
