.popup {
  background: #fff;
  height: fit-content;
  margin: auto;
  width: 100%;
  max-width: 450px;
  padding: 20px;
  border-radius: 10px;
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.adminSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
