.all-memberships {
  .membership-cards-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    // outline: 2px solid red;
    gap: 20px;
  }
}

// @media (min-width: 1400px) {
//   .all-memberships {
//     .membership-cards-container {
//       display: grid;
//       grid-template-columns: repeat(2, 1fr);
//     }
//   }
// }
