.add-deal-popup {
  background: #fff;
  width: 95vw;
  max-width: 500px;
  padding: 20px;
  border-radius: 8px;

  form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .dates {
      display: flex;
      width: 100%;
      gap: 20px;
      .date-input {
        width: 100%;
        display: grid;
        gap: 5px;
        color: #545a6e;
        .overlay {
          position: relative;
          font-size: 0.8rem;
          padding: 15px 20px;
          border-radius: 8px;
          // border: 2px solid #e0e0e0;
          width: 100%;
          height: fit-content;
        }
        input[type="date"] {
          // top: 0;
          inset: 0;
          // opacity: 0;
          border-radius: 8px;
          padding: 15px 20px;
          border: 2px solid #e0e0e0;
          // position: absolute;
        }
      }
    }
  }
}
