.list-tickets {
  display: grid;
  .tickets-container {
    .ticket {
      padding: 20px;
      display: grid;
      gap: 10px;
      border-bottom: 1px solid #ccc;
      p {
        color: #828282;
      }
      .replies-container {
        padding-top: 15px;
        .replies {
          border-top: 2px solid #ccc;
          margin: 10px 0;
          .reply {
            padding: 10px;
          }
        }
      }
    }
  }
  .no-tickets {
    font-weight: 500;
    color: #acabab;
    display: grid;
    place-items: center;
    padding: 20px;
  }
}
