button{
    background-color: #F01C21;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-family: 'Metropolis', sans-serif;
    width: fit-content;
    height: fit-content;
}