form.phone-form {
  text-align: center;
  display: grid;
  gap: 25px;
  h1 {
    font-size: 2rem;
  }
  p {
    color: #8f8f8f;
    font-weight: 500;
    span {
      color: #f01c21;
      font-weight: 600;
    }
  }
  .input {
    font-weight: 500;
    font-size: 1.1rem;
    padding: 15px !important;
    border: 2px solid #e1e5e8;
    border-radius: 8px;
  }
}
