.deal-card {
    padding: 30px;
    border: 2px solid #ECECEC;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
    max-width: 300px;
    background: #fff;
    cursor: pointer;

    .title {
        font-size: 1.2rem;
        width: 70%;
        font-weight: 400;
        color: #091431;
    }

    button {
        width: 100%;
    }

    .discount-details {
        font-weight: 500;
        color: #3BA615;
        width: 70%;
    }
}