.add-banner-popup {
  background: #fff;
  width: 100%;
  height: fit-content;
  max-width: 500px;
  padding: 20px;
  border-radius: 8px;
  margin: auto;
  form {
    margin-top: 25px;
    display: grid;
    flex-direction: column;
    gap: 20px;
    .status-updater {
      display: flex;
      align-items: center;
      gap: 10px;
      .select-status {
        padding: 15px 20px;
        background: #f8f8f8;
        font-weight: 500;
        border-radius: 8px;
        cursor: pointer;
        &.active {
          background: #e6fff2;
          color: #41b079;
        }
        &.inactive {
          background: #ffe9e6;
          color: #f01c21;
        }
      }
    }
  }
}
