.category-page {
  margin-bottom: 50px;
  .heading {
    background: #f0f0f0;
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    display: grid;
    gap: 0;
    height: fit-content;
    h1 {
      font-size: 2rem;
      font-weight: 600;
    }
    p {
      padding: 20px;
      font-size: 0.8rem;
      color: #656565;
      font-weight: 500;
      span {
        color: #f2383d;
      }
    }
  }
  .category-section {
    padding: 20px;
    display: grid;
    gap: 20px;

    .category-container {
      background-color: #fff;
      padding: 20px;
      .category-heading-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        h4 {
          font-weight: 600;
        }
        p {
          color: #777a83;
          font-weight: 500;
        }
      }
      .category-cards-container {
        display: grid;
        place-items: center;
        gap: 20px;
        // padding: 20px;
      }
    }
  }
}

@media (min-width: 700px) {
  .category-page {
    .category-section {
      grid-template-columns: 30% 1fr;
      .category-container {
        .category-cards-container {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}
@media (min-width: 800px) {
  .category-page {
    .category-section {
      grid-template-columns: 20% 1fr;
      .category-container {
        .category-cards-container {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .category-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    .heading {
      width: 100%;
    }
    .category-section {
      width: 90%;
      max-width: 1000px;
      grid-template-columns: 30% 1fr;
    }
  }
}
