.ticket {
  border-radius: 8px;
  display: grid;
  gap: 10px;
  background: #fff;
  padding: 20px;
  .title {
    font-size: 1rem;
    font-weight: 600;
  }
  .desc {
    line-height: 1.5rem;
    color: #858997;
  }
  .replies-container {
    border-top: 1px solid #ccc;
    padding: 10px;
    .replies {
      padding: 10px;
      display: grid;
      gap: 10px;
      color: gray;
    }
    .not-replied {
      color: #858997;
      font-size: 0.9rem;
    }
  }
  .ticket-buttons {
    display: flex;
    gap: 20px;
    .resolve-btn {
      background: #41b079;
    }
    .reply-btn {
      background: #e53b2c;
    }
  }
  .resolved {
    display: flex;
    gap: 10px;
    p {
      font-weight: 500;
      text-transform: capitalize;
      border-radius: 8px;
      padding: 10px 20px;
      width: fit-content;
      background: #e5fff2;
      color: #41b079;
    }
    .not-resolved-btn {
      padding: 0 15px;
      color: #f01c21;
      background: transparent;
      border: 2px solid #f01c21;
    }
  }
}
