.filter-list {
  display: grid;
  background-color: #fff;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  gap: 20px;
  text-transform: capitalize;
}

@media (min-width: 700px) {
  .filter-list {
    grid-template-columns: 1fr;
  }
}
