.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  // max-width: 1200px;
}

@media (min-width: 500px) {
  .categories {
    justify-content: flex-start;
  }
}
