.slider-container {
  width: 80%;
  max-width: 850px;
  //   outline: 2px solid blue;
  .card-container {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 0 20px 0 20px;
    padding: 10px;
    img {
      width: 100%;
    }
  }
}
