.top-bar-container {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  // outline: 2px solid red;
  background: #fff;
  border-bottom: 2px solid #e6e8ea;
  //   outline: 2px solid red;
  .top-bar {
    display: flex;
    padding: 20px;
    // width: 100%;
    justify-content: space-between;
    // outline: 2px solid red;
    .left {
      .selected-option {
        text-transform: capitalize;
        display: none;
      }
      .hamburger {
        border-radius: 8px;
        background: #f3f5f7;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        .line {
          width: 25px;
          height: 3px;
          background-color: #091431;
          position: relative;
          transition: all 0.25s ease-in-out;
          border-radius: 15px;
        }
        .line::before,
        .line::after {
          border-radius: 15px;
          transition: all 0.2s ease-in-out;
          content: "";
          position: absolute;
          width: 25px;
          height: 3px;
          background-color: #091431;
        }
        .line::before {
          top: -7px;
        }
        .line::after {
          top: 7px;
        }
        .line.active {
          background: transparent;
        }
        .line.active::before,
        .line.active::after {
          background: #f01c21;
        }
        .line.active::after {
          transform: rotate(45deg);
          top: calc(50% + -2.5px);
        }
        .line.active::before {
          top: -50%;
          transform: rotate(-45deg);
        }
      }
    }
    .right {
      display: flex;
      gap: 15px;
      //   outline: 2px solid red;
      .searchContainer {
        position: relative;
        .searchBarContainer {
          outline: 2px solid #e6e6e6;
          border-radius: 8px;
          animation: slideIn 0.2s ease-in-out;
          display: flex;
          position: absolute;
          bottom: -120%;
          // left: calc(-150px);
          left: -175%;
          .searchBar {
            &:focus {
              outline: none;
              // outline: 2px solid #e6e6e6;
            }
            width: 300px;
            background: #f3f5f7;
            border-radius: 8px 0 0 8px;
            border: none;
            // font-size: 1rem;
            // height: 100%;
            padding: 15px 15px;
            // border: 2px solid #e6e8ea;
            transition: all 0.2s ease-in-out;
            font-weight: 500;
            color: #091431;
          }

          .searchBtn {
            border: none;
            background: #f3f5f7;
            padding: 12px;
            border-radius: 0 8px 8px 0;
            &:focus {
              // outline: 2px solid #e6e6e6;
              outline: none;
            }
            img {
              width: 1rem;
              height: fit-content;
            }
          }
        }
      }
      .icon {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        width: 50px;
        height: 50px;
        // outline: 2px solid red;
        padding: 20px;
        background: #f3f5f7;
        // background: red;
        display: grid;
        place-content: center;
        border-radius: 8px;
        img {
          width: 20px;
        }
        &.profile-icon {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: fit-content;
          padding: 10px;
          gap: 35px;
          .user-details {
            display: flex;
            gap: 5px;
            align-items: center;
            .profile-pic {
              width: 30px;
            }
            .name {
              font-weight: 500;
              font-size: 0.9rem;
            }
          }
          .drop-down-icon {
            width: 10px;
          }
        }
      }
    }
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-100%) scale(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media (min-width: 500px) {
  .top-bar-container {
    .top-bar {
      .left {
        display: flex;
        align-items: center;
        gap: 20px;
        .selected-option {
          display: block;
        }
      }
    }
  }
}
@media (min-width: 800px) {
  .top-bar-container {
    .top-bar {
      .left {
        .selected-option {
          display: block;
        }
        .hamburger {
          display: none;
        }
      }
    }
  }
}
