// .drawer {
//   box-sizing: border-box;
//   //   position: absolute;
//   //   left: 0;
//   /* Auto layout */

//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding: 0px 0px 24px;
//   gap: 40px;

//   position: absolute;
//   width: 260px;
//   height: 930px;
//   left: -100%;
//   z-index: 100;
//   transition: all 0.2s ease-in-out;
//   //   top: 0px;

//   /* White */

//   &.active {
//     left: 0;
//   }

//   background: #ffffff;
//   /* Secondary/Secondary 09 */

//   border-right: 1px solid #e6e8ea;
// }

// .logo {
//   box-sizing: border-box;

//   /* Auto layout */

//   display: flex;
//   // flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   padding: 8px;
//   gap: 8px;

//   width: 260px;
//   height: 90px;

//   /* Secondary/Secondary 09 */

//   border-bottom: 1px solid #e6e8ea;

//   /* Inside auto layout */

//   flex: none;
//   order: 0;
//   align-self: stretch;
//   flex-grow: 0;
//   .hide-menu {
//     // outline: 2px solid red;
//     img {
//       width: 50px;
//     }
//   }
// }

// .allMenu {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding: 0px;
//   gap: 8px;

//   width: 260px;
//   height: 588px;

//   /* Inside auto layout */

//   flex: none;
//   order: 1;
//   align-self: stretch;
//   flex-grow: 1;
// }

// .btMenu {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   padding: 0px;
//   gap: 8px;

//   width: 200px;
//   height: 148px;

//   /* Inside auto layout */

//   flex: none;
//   order: 2;
//   flex-grow: 0;
// }

// .logoImg {
//   width: 158.4px;
//   height: 66px;

//   /* Inside auto layout */

//   flex: none;
//   order: 0;
//   flex-grow: 0;
// }

// .menuC {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   padding: 12px;
//   gap: 8px;

//   width: 200px;
//   height: 44px;

//   /* Primary/Primary 09 */

//   background: #fceaea;
//   border-radius: 8px;

//   /* Inside auto layout */

//   flex: none;
//   order: 0;
//   flex-grow: 0;
// }

// .menuNC {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   padding: 12px;
//   gap: 8px;
//   width: 200px;
//   height: 44px;

//   border-radius: 8px;

//   /* Inside auto layout */

//   flex: none;
//   order: 2;
//   flex-grow: 0;
// }

// .menuTextNC {
//   width: 176px;
//   height: 20px;

//   /* Normal/Medium */

//   // font-family: 'Manrope';
//   font-style: normal;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 20px;
//   /* identical to box height, or 125% */

//   display: flex;
//   align-items: center;

//   /* Secondary/Secondary 03 */

//   color: #545a6e;

//   /* Inside auto layout */

//   flex: none;
//   order: 1;
//   flex-grow: 1;
// }

// .menuTextC {
//   width: 176px;
//   height: 20px;

//   /* Normal/Medium */

//   // font-family: 'Manrope';
//   font-style: normal;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 20px;
//   /* identical to box height, or 125% */

//   display: flex;
//   align-items: center;

//   /* Primary/Primary 01 */

//   color: #e53b2c;

//   /* Inside auto layout */

//   flex: none;
//   order: 1;
//   flex-grow: 1;
// }

// .dot {
//   position: relative;
//   left: 8.33%;
//   right: 8.33%;
//   top: 8.33%;
//   bottom: 8.34%;

//   /* Secondary/Secondary 03 */

//   background: #545a6e;
//   border-radius: 10px;
// }

// .dotmenuNC {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   padding: 12px;
//   gap: 8px;

//   width: 200px;
//   height: 44px;

//   border-radius: 8px;

//   /* Inside auto layout */

//   flex: none;
//   order: 0;
//   flex-grow: 0;
// }

// .dotmenuTextC {
//   width: 152px;
//   height: 20px;
//   // font-color: #E53B2C;
//   /* Normal/Medium */
//   margin-left: 15px;
//   font-family: "Manrope";
//   font-style: normal;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 20px;
//   /* identical to box height, or 125% */

//   display: flex;
//   align-items: center;

//   /* Secondary/Secondary 03 */

//   color: #545a6e;

//   /* Inside auto layout */

//   flex: none;
//   order: 1;
//   flex-grow: 1;
// }

// @media (min-width: 800px) {
//   .drawer {
//     position: static;
//     .hide-menu{
//       display: none;
//     }
//   }
// }

.sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 200;
  transition: all 0.2s ease-in-out;
  border: 2px solid #e6e8ea;
  &.visible {
    left: 0;
  }
  // .top-side {
  .logo-and-close {
    padding: 20px;
    display: flex;
    align-items: center;
    // outline: 2px solid red;
    border-bottom: 2px solid #e6e8ea;
    gap: 10px;
    width: 100%;
    img {
      width: 68%; // to match the bottom border line with top bar's bottom border
    }
    .close-btn {
      width: 50px;
    }
  }
  // }
  .options {
    padding: 35px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    .option {
      cursor: pointer;
      text-transform: capitalize;
      font-weight: 500;
      color: #545a6e;
      // background: green;
      margin: 5px 20px;
      padding: 15px 55px 15px 15px;
      border-radius: 8px;
      // outline: 2px solid red;
      &.selected {
        background: #fceaea;
        color: #e53b2c;
      }
    }
    .bottom-menu {
      .option.bottom {
        display: flex;
        gap: 10px;
        .dot {
          background: #545a6e;
          height: 15px;
          width: 15px;
          border-radius: 50%;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .sidebar {
    position: static;
    .logo-and-close {
      .close-btn {
        display: none;
      }
    }
    .hamburger {
      display: none;
    }
  }
}
