.membership-card {
  margin: 0 20px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  border: 2px solid #e6e8ea;
  display: grid;
  gap: 10px;
  .membership-img {
    width: 100%;
  }
  .membership-details {
    display: grid;
    gap: 20px;
    width: 100%;
    .info-container {
      display: flex;
      justify-content: space-between;
      .membership-info {
        height: fit-content;
        display: grid;
        gap: 15px;
        .name {
          text-transform: capitalize;
          font-size: 1.2rem;
          font-weight: 600;
        }
        .info {
          display: flex;
          align-items: center;
          gap: 5px;
          color: #545a6e;
          font-weight: 500;
          img {
            width: 20px;
          }
        }
      }
      .actions {
        display: flex;
        gap: 15px;
        align-self: flex-start;
        img {
          width: 15px;
          cursor: pointer;
        }
        .delete-loader {
          align-self: flex-start;
          width: 25px;
          height: 25px;
          border: 2px solid #f01c21;
          border-radius: 50%;
          border-bottom-color: transparent;
          animation: spinLoader 0.5s linear infinite;
        }
      }
    }
    .membership-link {
      white-space: nowrap;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .membership-desc {
      color: #858997;
      line-height: 1.5rem;
    }
  }
}

@keyframes spinLoader {
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 500px) {
  .membership-card {
    max-width: 700px;
    display: flex;
    gap: 20px;
    .membership-img {
      width: 200px;
      height: fit-content;
    }
  }
}

@media (min-width: 1400px) {
  .membership-card {
    max-width: 850px;
  }
}
