.deals-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #091431;
  .carousel-container {
    overflow: hidden;
    width: 100%;
    padding: 50px 0;
    // outline: 2px solid red;
    // background: red;
  }
}
@media (min-width: 500px) {
  .deals-section {
    .carousel-container {
      width: 80%;
      max-width: 1000px;
    }
  }
}

// @media (min-width: 800px) {
//   .deals-section {

//   }
// }
