.all-feedbacks {
  padding: 20px;
  .select-feedbacks {
    display: flex;
    h4 {
      padding: 10px 20px;
      font-size: 14px;
      font-weight: 500;
      color: #6c7182;
      border-bottom: 2px solid #ced0d6;
      text-transform: capitalize;
      cursor: pointer;
      &.active {
        color: #f01c21;
        border-bottom: 3px solid #f01c21;
      }
    }
  }
  .feedbacks-container {
    margin-top: 20px;
    display: grid;
    gap: 20px;
  }
}

@media (min-width: 500px) {
  .all-feedbacks {
    .feedbacks-container {
      max-width: 1400px;
      // .feedback-card {
      //   display: flex;
      //   gap: 20px;
      // }
    }
  }
}
@media (min-width: 1400px) {
  .all-feedbacks {
    .feedbacks-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
