form.otp-form {
  .otp-inputs {
    display: flex;
    gap: 20px;
    justify-content: center;
    input {
      font-size: 2rem;
      width: 50px;
    }
  }
  p.invalid-msg {
    letter-spacing: 2px;
    color: #f27f38f4;
  }
}
