.feedback-card {
  display: grid;
  gap: 10px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  .userimg {
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }
  h4 {
    text-transform: capitalize;
  }
  .details {
    width: 100%;
    .user {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .user-info {
        span {
          display: inline-block;
          padding: 5px 15px;
          margin: 0 0 5px 5px;
          background: #e6fff2;
          font-size: 0.8rem;
          font-weight: 500;
          border-radius: 8px;
          color: #41b079;
          &.Inactive {
            background: #ffe9e6;
            color: #f01c21;
          }
        }
      }
      .actions {
        display: flex;
        gap: 10px;
        .status-loader,
        .delete-loader {
          width: 15px;
          height: 15px;
          border: 2px solid #f01c21;
          border-radius: 50%;
          border-bottom-color: transparent;
          animation: spinLoader 0.5s linear infinite;
        }
        .check {
          .status-loader {
            border-color: #41b079;
            border-bottom-color: transparent;
          }
        }
        .delete {
          background: #ffe9e6;
          border-radius: 0;
          padding: 10px;
          img {
            width: 15px;
          }
        }
        .check {
          background: #e6fff2;
          border-radius: 0;
          padding: 10px;
          img {
            width: 15px;
          }
        }
      }
    }
    .feedback-details {
      display: grid;
      gap: 10px;
      .rating {
        display: flex;
        gap: 2px;
        img {
          width: 15px;
          height: 15px;
        }
      }
      .feedback-text {
        color: #858997;
      }
    }
  }
}
@keyframes spinLoader {
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 500px) {
  .feedback-card {
    display: flex;
    gap: 20px;
  }
}
