.feedback-card {
  display: grid;
  gap: 10px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  .userimg {
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }
  .details {
    width: 100%;
    .user {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .actions {
        display: flex;
        gap: 10px;
        .status-loader, .delete-loader{
          width: 25px;
          height: 25px;
          border: 2px solid #f01c21;
          border-radius: 50%;
          border-bottom: transparent;
          border-right: transparent;
          animation: spinLoader 0.5s linear infinite;
        }
        .check {
          .status-loader {
            border-color: #41b079;
          }
        }
        .delete {
          background: #ffe9e6;
          border-radius: 0;
          padding: 10px;
          img {
            width: 25px;
          }
        }
        .check {
          background: #e6fff2;
          border-radius: 0;
          padding: 10px;
          img {
            width: 25px;
          }
        }
      }
    }
    .feedback-details {
      display: grid;
      gap: 10px;
      .rating {
        display: flex;
        gap: 2px;
        img {
          width: 25px;
          height: 25px;
        }
      }
      .feedback-text {
        color: #858997;
      }
    }
  }
}
@keyframes spinLoader {
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 500px) {
  .feedback-card {
    display: flex;
    gap: 20px;
  }
}
