.checkoutPage {
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .loaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 10px 20px 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 2px 4px 4px 5px rgba(57, 57, 57, 0.25);
    h2 {
      color: #f01c21;
    }
    .loader {
      margin-top: 20px;
      width: 35px;
      height: 35px;
      border: 3px solid #f01c21;
      border-radius: 50%;
      border-top-color: transparent;
      animation: spin 0.75s linear infinite;
    }
  }
  h2 {
    margin: 20px 0;
  }
  .subtitle {
    margin: 20px 0 10px 0;
  }
  p {
    font-size: 1.1rem;
    span {
      font-weight: 500;
      color: #f01c21;
    }
  }
  .container {
    width: 100%;
    max-width: 400px;
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .inputGroupsContainer {
        .inputGroup {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
      }
    }
  }
  .checkoutBtn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .phonepeBtn {
      background: #fff;
      border: 2px solid #5f259f;
      color: #5f259f;
      font-weight: 700;
      padding: 5px 20px;
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      width: 100%;
      img {
        height: 30px;
        width: fit-content;
      }
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@media (min-width: 800px) {
  .checkoutPage {
    .container {
      max-width: 800px;
      .inputGroupsContainer {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
      }
      .checkoutBtn {
        align-self: flex-end;
        width: fit-content;
        flex-direction: row;
      }
    }
  }
}

.pincodeContainer {
  position: relative;
  .loader {
    position: absolute;
    right: 15px;
    // top: 63%;
    --offset: 11.5px; // label and gap (16px + 5px) / 2
    top: calc(50% + var(--offset));
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    border: 2px solid red;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spinPincodeLoader 0.65s linear infinite;
  }
}

@keyframes spinPincodeLoader {
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
