nav {
  background-color: #091431;
  padding: 0 20px;
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  font-size: 0.75rem;
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
      padding: 20px 0;
      text-transform: capitalize;
    }
    .active {
      color: #f01c21 !important;
      position: relative;
      height: 100%;
      &:after {
        content: "";
        display: block;
        height: 3px;
        width: 100%;
        background-color: #f01c21;
        position: absolute;
        bottom: 0;
      }
    }
  }
}

.productsNavItem {
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  &:hover {
    .brandsMenu {
      display: flex;
      align-items: flex-start;
    }
  }
}

.brandsMenu {
  width: 200px;
  min-height: 100px;
  position: absolute;
  top: 100%;
  left: -10px;
  z-index: 1;
  color: black;
  animation: slideIn 0.3s ease-in-out;
  display: none;
  &:hover {
    .productsMenu {
      display: block;
    }
  }
}

.brandName {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;
  background-color: #fff;
  padding: 12px 20px;
  border-radius: 2px;
  border: 1px solid rgb(227, 227, 227);
  .icon {
    font-size: 0.75rem;
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    filter: brightness(95%);
    .icon {
      transform: rotate(90deg);
    }
  }
}
.productsMenuContainer {
  position: absolute;
  top: 0;
  height: 100px;
  left: -130%;
  padding-top: 20px;
}
.productsMenu {
  display: none;
  background: #fff;
  animation: slideIn 0.3s ease-in-out;
  .productName {
    background-color: #fff;
    border: 1px solid rgb(227, 227, 227);
    padding: 12px 20px;
    &:hover {
      filter: brightness(95%);
    }
  }
  p {
    color: black;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 700px) {
  nav {
    display: grid;
    place-items: center;
    .links {
      font-size: 1rem;
      width: 70%;
      max-width: 600px;
    }
  }
}

@media (min-width: 1024px) {
  .brandName {
    flex-direction: row;
    &:hover {
      .icon {
        transform: rotate(-90deg);
      }
    }
  }
  .productsMenuContainer {
    // height: 100px;
    // left: 130%;
    // left: 100%;
    // right: -50%;
    left: auto;
    padding-top: 20px;
  }
}
