nav {
  background-color: #091431;
  padding: 0 20px;
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  font-size: 0.75rem;
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
      padding: 20px 0;
      text-transform: capitalize;
    }
    .active {
      color: #f01c21 !important;
      position: relative;
      height: 100%;
      &:after {
        content: "";
        display: block;
        height: 3px;
        width: 100%;
        background-color: #f01c21;
        position: absolute;
        bottom: 0;
      }
    }
  }
  .wallet {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: default;
    &:hover {
      .walletMenu {
        display: flex;
      }
    }

    .walletMenu {
      border-radius: 8px;
      animation: slideIn 0.3s ease-in-out;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      padding: 20px;
      height: 125px;
      width: 200px;
      display: none;
      position: absolute;
      bottom: -225%;
      background: #fff;
      transition: all 0.3s ease-in-out;
      box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.07);
      a {
        padding-bottom: 10px;
        margin: 0;
        width: 100%;
      }
      p {
        color: #091431;
      }
    }
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 700px) {
  nav {
    display: grid;
    place-items: center;
    .links {
      font-size: 1rem;
      width: 70%;
      max-width: 600px;
    }
  }
}
