.updateContentPopup {
  background: #fff;
  width: 100%;
  height: fit-content;
  max-width: 500px;
  padding: 20px;
  border-radius: 8px;
  margin: auto;
  .updateContentForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
