.slider-container {
  width: 80%;
  // overflow-x: hidden;
  // outline: 2px solid green;
  .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 0 0;

    .inner-card-container {
      display: flex;
      align-items: center;
      justify-content: center;
      .menu-card {
        cursor: pointer;
        display: grid;
        place-items: center;
        width: 100px;
        height: 100px;
        padding: 10px 20px;
        background: #fff;
        border-radius: 8px 8px 0 0;
        color: #091431;

        &.selected {
          position: relative;

          &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0px;
            bottom: 0;
            background: #f01c21;
          }
        }
        h5 {
          text-transform: capitalize;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

@media (min-width: 700px) {
  .card-container {
    padding: 10px;
  }
}
