  .login {
    width: 95vw;
    max-width: 400px;
    border-radius: 15px;
    display: grid;
    place-items: center;
    padding: 25px;
    background: #fff;
    .go-back {
      cursor: pointer;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 15px;
      }
      p {
        font-size: 12px;
      }
    }
  }
