.slider-container {
  width: 100%;
  // outline: 2px solid red;
  // overflow: hidden;
  .card-container {
    // outline: 2px solid green;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    .offers-card-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

// @media (min-width: 700px) {
//   .card-container {
//     padding: 10px;
//   }
// }
