.slider-container {
  width: 100%;
  // overflow: hidden;
  .card-container {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}

// @media (min-width: 700px) {
//   .card-container {
//     padding: 10px;
//   }
// }
