.add-membership-popup {
  background: #fff;
  width: 95vw;
  max-width: 500px;
  padding: 20px;
  border-radius: 8px;

  form {
    margin-top: 25px;
    display: grid;
    gap: 20px;
    place-items: center;
    .dates {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      .date-input {
        width: 100%;
        display: grid;
        gap: 5px;
      }
    }
    .add-membership-btn {
      width: 100%;
    }
  }
}
