.search {
    border: 2px solid #dedddd;
    background: #EEEEEE;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    gap: 10px;
    width: 100%;
    max-width: 600px;

    img {
        width: 15px;
    }

    input {
        font-family: 'Metropolis', sans-serif;
        width: 100%;
        padding: 5px 0px;
        border: none;
        background: #EEEEEE;
        // font-size: 1.2rem;

        &:focus {
            outline: none;
        }
    }
}