.bMainContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;

    position: absolute;
    width: 79.7vw;
    height: 840px;
    left: 260px;
    top: 90px;

    /* BG */

    background: #F8F8F8;
}

.bHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px 0px;
    gap: 8px;

    width: 75.9vw;
    height: 48px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.bBanner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 652px;
    height: 554px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.bTwoTab {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 106px;
    height: 30px;

    /* Secondary/Secondary 08 */

    border-bottom: 1px solid #CED0D6;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.bTextOneDiv {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    gap: 10px;

    width: 126px;
    height: 30px;

    /* Primary/Primary 01 */

    border-bottom: 2px solid #E53B2C;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.bTextOn {
    width: 100px;
    height: 18px;

    /* Small/Small Medium */

    font-family: 'Pangram';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;

    /* Primary/Primary 01 */

    color: #E53B2C;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.mModel {
    // z-index: 10;
    flex: none;
    order: 10;
    flex-grow: 1;
    z-index: 10;
}

.bAddButton {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;

    width: 69px;
    padding-right: 45px;
    height: 32px;

    /* Primary/Primary 09 */

    background: #FCEAEA;
    /* Primary/Primary 07 */

    border: 1px solid #F5BDBC;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.bBtnDiv {
    width: 14px;
    height: 14px;
    display: flex;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.bBtnTextOne {
    width: 27px;
    height: 18px;

    /* Small/Semi Bold */

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */


    /* Primary/Primary 01 */

    color: #E53B2C;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.bBanPar {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    isolation: isolate;

    width: 652px;
    height: 174px;

    /* White */

    background: #FFFFFF;
    /* Secondary/Secondary 09 */

    border: 1px solid #E6E8EA;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.bBanChild {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 620px;
    height: 80px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: 0;
}

.bDes {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px 0px 182px;
    gap: 8px;

    width: 620px;
    height: 54px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 1;
}

.bLoc {
    position: absolute;
    width: 17px;
    height: 16px;
    left: 613px;
    top: 125px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.bBanImgOne {
    width: 166.5px;
    height: 80px;

    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.bCon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 183px;
    height: 72px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.bTextTwo {
    // width: 65px;
    height: 20px;

    /* Normal/Semi Bold */

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;

    /* Gray/Gray 01 */

    color: #1A232F;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.bExpOne {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 7px;

    width: 183px;
    height: 18px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.bExpTwo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 7px;

    width: 121px;
    height: 18px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.bBanTextThree {
    width: 160px;
    height: 18px;

    /* Small/Medium */

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;

    /* Secondary/Secondary 03 */

    color: #545A6E;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.bDesText {
    width: 430px;
    height: 54px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */

    display: flex;
    align-items: center;

    /* Secondary/Secondary 05 */

    color: #858997;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

.bDeals {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 1000px;
    height: 892px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.parentFilter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 20px;

    width: 200px;
    height: 892px;

    background: #FFFFFF;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.childFilter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 176px;
    height: 220px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.Tag {

    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px 16px;

    width: 176px;
    height: 40px;

    border-bottom: 1px solid #D3D4D5;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.tagText {
    width: 160px;
    height: 16px;

    // font-family: 'Metropolis';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #091431;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

.tagImage {
    width: 16px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.List {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 176px;
    height: 160px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.cOne {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 9px;

    width: 66px;
    height: 16px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.listClass {
    width: 100px;
    height: 14px;

    // font-family: 'Metropolis';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #B9BABB;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.parentDeal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 820px;
    height: 816px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.childDeal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 800px;
    height: 398px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.nodeDeal {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 16px;
    gap: 16px;

    width: 245.67px;
    height: 398px;

    /* White */

    background: #FFFFFF;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.dealImg {
    width: 245px;
    height: 290px;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.dealDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 16px;
    gap: 16px;

    width: 245.67px;
    height: 76px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.deatilsIconsText {
    width: 235.67px;
    height: 36px;

    /* Small/Regular */

    // font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* or 129% */

    display: flex;
    align-items: center;

    /* Secondary/Secondary 01 */

    color: #0C1230;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.dealsIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 64px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.editDImg {
    width: 24px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.deleteDImg {
    width: 24px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.rOne {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 1000px;
    height: 102px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.cat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
    gap: 8px;

    width: 127.5px;
    height: 102px;

    /* White */

    background: #FFFFFF;
    border-radius: 8px;
}

.ic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;

    width: 44px;
    height: 44px;

    /* Secondary/Secondary 09 */

    background: #E6E8EA;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.clothImg {
    position: relative;
    width: 44px;
    height: 44px;
    left: 0%;
    right: 0%;
    top: 8.33%;
    bottom: 8.33%;

}

.clothText {
    width: 111.5px;
    height: 18px;

    /* Small/Semi Bold */

    // font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    // display: flex;
    align-items: center;
    text-align: center;

    /* Secondary/Secondary 02 */

    color: #3C4259;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}