form#user-input {
  margin: 0;
  padding: 0;
  width: 100%;
  // * {
  //   outline: 2px solid red;
  // }
  h1.title {
    margin-bottom: 20px;
  }
  .inputs-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    // outline: 2px solid red;
    // p {
    //   font-size: 12px;
    //   font-weight: 500;
    //   // margin-bottom: 10px;
    //   &.error {
    //     color: #f01c21;
    //     margin: 0;
    //     padding: 0px 0 0 10px;
    //   }
    // }
    input {
      padding: 15px !important;
      width: 100%;
      font-weight: 500;
      font-size: 1.1rem;
      padding: 15px !important;
      border: 2px solid #e1e5e8;
      border-radius: 8px;
      width: 100%;
    }
    .input-container {
      // outline: 2px solid red;
      width: 100%;
      input {
        width: 100%;
      }
      .user-details-input {
        font-weight: 500;
        font-size: 1.1rem;
        padding: 15px !important;
        border: 2px solid #e1e5e8;
        border-radius: 8px;
      }
    }
  }
  p {
    text-align: center;
    &.msg {
      font-size: .9rem;
      text-align: start;
      margin: 5px 0 20px 10px;
      color: #8f8f8f;
    }
    &.skip-now {
      cursor: pointer;
      margin-top: 10px;
      font-weight: 500;
      letter-spacing: 2px;
    }
  }
  .user-form-btn {
    width: 100%;
  }
}
