.banner-card {
  margin: 0 20px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  border: 2px solid #e6e8ea;
  display: grid;
  gap: 10px;
  .banner-img {
    width: 100%;
  }
  .banner-details {
    width: 100%;
    // outline: 2px solid red;
    display: grid;
    height: fit-content;
    gap: 20px;
    // * {
    //   outline: 2px solid red;
    // }
    .info-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .banner-info {
        display: grid;
        gap: 15px;
        .name {
          width: 300px;
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: capitalize;
          font-size: 1.2rem;
          font-weight: 600;
        }
        .info {
          overflow: hidden;
          display: flex;
          // display: none;
          align-items: center;
          gap: 5px;
          color: #545a6e;
          font-weight: 500;
          width: 80%;
          img {
            width: 20px;
          }
          p {
            white-space: nowrap;
            width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .actions {
        display: flex;
        gap: 15px;
        align-self: flex-start;
        img {
          width: 15px;
          cursor: pointer;
        }
        .delete-loader {
          align-self: flex-start;
          width: 25px;
          height: 25px;
          border: 2px solid #f01c21;
          border-radius: 50%;
          border-bottom-color: transparent;
          animation: spinLoader 0.5s linear infinite;
        }
      }
    }
    .banner-desc {
      color: #858997;
    }
    .banner-desc {
      line-height: 1.5rem;
    }
  }
}
@keyframes spinLoader {
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 500px) {
  .banner-card {
    max-width: 700px;
    display: flex;
    gap: 20px;
    .banner-img {
      width: 200px;
      height: fit-content;
    }
    .banner-details {
      .info-container {
        .lock-icon {
          align-self: flex-start;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .banner-card {
    max-width: 850px;
  }
}
