@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis.regular.otf');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 100;
  src: url('/fonts/metropolis.thin.otf');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 200;
  src: url('/fonts/metropolis.extra-light.otf');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 300;
  src: url('/fonts/metropolis.light.otf');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 500;
  src: url('/fonts/metropolis.medium.otf');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 600;
  src: url('/fonts/metropolis.semi-bold.otf');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 700;
  src: url('/fonts/metropolis.bold.otf');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 800;
  src: url('/fonts/metropolis.extra-bold.otf');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 900;
  src: url('/fonts/metropolis.black.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Metropolis', sans-serif;
}