// .nav-mainHeading {
//   //   box-sizing: border-box;

//   /* Auto layout */
//   outline: 2px solid red;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
//   align-items: center;
//   padding: 0px;
//   gap: 8px;

//   //   position: absolute;
//   //   width: 79.7vw;
//   //   height: 90px;
//   //   left: 260px;
//   //   top: 0px;

//   /* White */

//   background: #ffffff;
//   /* Secondary/Secondary 09 */

//   border-bottom: 1px solid #e6e8ea;
// }

.top-bar-container {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  // outline: 2px solid red;
  background: #fff;
  border-bottom: 2px solid #e6e8ea;
  //   outline: 2px solid red;
  .top-bar {
    display: flex;
    padding: 20px;
    // width: 100%;
    justify-content: space-between;
    // outline: 2px solid red;
    .left {
      .selected-option {
        text-transform: capitalize;
        display: none;
      }
      .hamburger {
        border-radius: 8px;
        background: #f3f5f7;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        .line {
          width: 25px;
          height: 3px;
          background-color: #091431;
          position: relative;
          transition: all 0.25s ease-in-out;
          border-radius: 15px;
        }
        .line::before,
        .line::after {
          border-radius: 15px;
          transition: all 0.2s ease-in-out;
          content: "";
          position: absolute;
          width: 25px;
          height: 3px;
          background-color: #091431;
        }
        .line::before {
          top: -7px;
        }
        .line::after {
          top: 7px;
        }
        .line.active {
          background: transparent;
        }
        .line.active::before,
        .line.active::after {
          background: #f01c21;
        }
        .line.active::after {
          transform: rotate(45deg);
          top: calc(50% + -2.5px);
        }
        .line.active::before {
          top: -50%;
          transform: rotate(-45deg);
        }
      }
    }
    .right {
      display: flex;
      gap: 15px;
      //   outline: 2px solid red;
      .icon {
        width: 50px;
        height: 50px;
        // outline: 2px solid red;
        padding: 20px;
        background: #f3f5f7;
        // background: red;
        display: grid;
        place-content: center;
        border-radius: 8px;
        img {
          width: 20px;
        }
        &.profile-icon {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: fit-content;
          padding: 10px;
          gap: 35px;
          .user-details {
            display: flex;
            gap: 5px;
            align-items: center;
            .profile-pic {
              width: 30px;
            }
            .name {
              font-weight: 500;
              font-size: 0.9rem;
            }
          }
          .drop-down-icon {
            width: 10px;
          }
        }
      }
    }
  }
}
@media (min-width: 500px) {
  .top-bar-container {
    .top-bar {
      .left {
        display: flex;
        align-items: center;
        gap: 20px;
        .selected-option {
          display: block;
        }
        // .hamburger{
        //   display: ;
        // }
      }
    }
  }
}
@media (min-width: 800px) {
  .top-bar-container {
    .top-bar {
      .left {
        .selected-option {
          display: block;
        }
        .hamburger {
          display: none;
        }
      }
    }
  }
}

// .nav-headings {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   padding: 0px 24px;
//   gap: 20px;

//   width: 79.7vw;
//   height: 82px;

//   /* Inside auto layout */

//   flex: none;
//   order: 0;
//   flex-grow: 0;
// }

// .nav-ta {
//   width: 770px;
//   height: 32px;

//   /* Heading/H4 */

//   // font-family: 'Manrope';
//   font-style: normal;
//   font-weight: 700;
//   font-size: 24px;
//   line-height: 32px;
//   /* identical to box height, or 133% */

//   display: flex;
//   align-items: center;

//   /* Gray/Gray 01 */

//   color: #1a232f;

//   /* Inside auto layout */

//   flex: none;
//   order: 0;
//   flex-grow: 1;
// }

// .nav-rightOptions {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   padding: 0px;
//   gap: 19px;

//   width: 255px;
//   height: 44px;

//   /* Inside auto layout */

//   flex: none;
//   order: 1;
//   flex-grow: 0;
// }

// .nav-search {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   padding: 10px;
//   gap: 8px;

//   width: 44px;
//   height: 44px;

//   /* Secondary/Secondary 10 */

//   background: #f3f5f7;
//   border-radius: 8px;

//   /* Inside auto layout */

//   flex: none;
//   order: 0;
//   flex-grow: 0;
// }

// .nav-notifi {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   padding: 10px;
//   gap: 8px;

//   width: 44px;
//   height: 44px;

//   /* Secondary/Secondary 10 */

//   background: #f3f5f7;
//   border-radius: 8px;

//   /* Inside auto layout */

//   flex: none;
//   order: 1;
//   flex-grow: 0;
// }

// .nav-profile {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   padding: 4px 12px 4px 6px;
//   gap: 8px;

//   width: 130px;
//   height: 44px;

//   /* Secondary/Secondary 10 */

//   background: #f3f5f7;
//   border-radius: 8px;

//   /* Inside auto layout */

//   flex: none;
//   order: 2;
//   flex-grow: 0;
// }
