.custom-carousel {
  overflow: hidden;
  position: relative;
  .arrow-navigation {
    position: absolute;
    display: flex;
    width: 80%;
    justify-content: space-between;
    z-index: 100;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    img {
      width: 50px;
    }
  }
  .inner {
    white-space: nowrap;
    transition: transform 0.3s;
  }
  .indicators {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    &.hide {
      display: none;
    }
    .switch {
      cursor: pointer;
      // border: 1px solid #d9d9d9;
      height: 8px;
      width: 20px;
      background: #d9d9d9;
      border-radius: 20px;
      transform: all 0.3s;
    }

    .switch.current {
      background: #091431;
      width: 50px;
    }
  }
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: normal;
  color: #fff;
}

// @media (min-width: 768px) {
//   .custom-carousel {
//     width: 80%;
//     max-width: 600px;
//   }
// }
// @media (min-width: 800px) {
//   .custom-carousel {
//     max-width: 800px;
//   }
// }
// @media (min-width: 1400px) {
//   .custom-carousel {
//     max-width: 1200px;
//   }
// }
